# NextJS

# Dependencies
/node_modules
.yarn
.pnp
.pnp.js
.yarn/install-state.gz

# Testing
/coverage

# Next.js
/.next/
/out/

# Production
/build

# Miscellaneous
.DS_Store
*.pem

# Debug
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Local environment files
.env*
!.env.production
!.env.development

# Vercel
.vercel

# TypeScript
*.tsbuildinfo
next-env.d.ts
